svg {
    position: absolute;
    top: 0px;
    left: 0px;
    outline: 1px dotted #777;
}
svg * {
    pointer-events: fill;
}
svg line {
    pointer-events: visibleStroke;
    /* cursor: crosshair; */
}
svg text {
    cursor: default;
    user-select: none;
}
#tools {
    pointer-events: none;
}
#tools * {
    pointer-events: none;
}
#artboard.interactive-points svg {
    cursor: crosshair;
}
